<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mlb_primary_key</key>
	<string>1a07906b646c4a85b2eb29b5a5ec473b</string>
	<key>nfl_primary_key</key>
	<string>a57f4dacffbf415eb6199418d9b05e26</string>
</dict>
</plist>
